.page {
    padding: 1rem;

    &__loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.order {
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}